* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-row {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
}
.item {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-width: 30%;
}

img, .img img {
    width: 100%;
}

.item-des {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-text p {
    font-size: 25px;
    font-weight: bolder;
    padding: 5px 0;
}

.item-text span {
    font-size: 20px;
}

.btn-order {
    padding: 10px ;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}